extends ../layout

block content
  if user && user.profile
    h1 #{user.profile.name || user.username || user.id} - Daily Attendance
  br
  br
  h3 Checked in at: #{attendance && attendance.checkedInAt && attendance.checkedInAtTime || '0:00'}
  hr
  h3 Checked out at: #{attendance && attendance.checkedOutAt && attendance.checkedOutAtTime || '0:00'}
  hr
  h3 Total Hours: #{attendance && attendance.totalWorkingHours || 0} Hours
  hr
  h3 Net Daily Salary: #{attendance && attendance.totalWorkingHours && attendance.totalWorkingHours * hourlyRate || 0}₪

  if !attendance || attendance && !attendance.checkedInAt
      .form-group
        .offset-sm-3.col-md-7.pl-2.text-center
          button#btn-checkin.btn.btn-lg.btn-primary(type='button')
            i.fas.fa-sm
            | Check In

  if attendance && !attendance.checkedOutAt && attendance.checkedInAt
      .form-group
        .offset-sm-3.col-md-7.pl-2.text-center
          button#btn-checkout.btn.btn-lg.btn-danger(type='button')
            i.fas.fa-sm
            | Check Out